.page-wrapper{
    font-size: 20 px;
    font-family: cursive;
    text-align: center;
}

header, main, footer {
    margin: 0 auto; /* Center the sections horizontally */
    border: 4px dashed #0000007e;
    padding: 10px;
    border-radius: 15px;
    max-width: 500px; /* Limit the width of sections to 500px */
}

header{
    height: 200px;
    background-color: rgb(228, 215, 94);
}

main{
    height: 500px;
    background-color: rgb(149, 194, 81);
}

footer{
    height: 50px;
    background-color: rgb(80, 164, 212);
}

.vert_center{
    display: inline-block;
        vertical-align: middle;
        line-height: normal;
}

img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.round_image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.nzn{
    font-size: 30px;
}

a{
    font-size: 16px;
}

.text-width{
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

br{
    font-size: 50px;
}